#title {
    width: 50%;
    border: .1px solid greenyellow;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

#answer-box {
    /* borders */
    width: 40%;
    border: 1px solid blueviolet;
    /* fonts */
    font-family: cursive;
    font-size: 20px;
}

#submit {
    width: 30%;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
}

q1, q2, q3, q4 {
    color: black;
}